@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #8E6ED2;
  --background-end-rgb: #F4CFAE;
  --color-stop-1: #8E6ED2;
  --color-stop-2: #D6C6C5;
  --color-stop-3: #F4CFAE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #000;
    --background-start-rgb: #8E6ED2;
    --background-end-rgb: #F4CFAE;
}
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: #1E1A20;
    color: #FFFDEF;
    
}
